.home {
    padding: 6rem 1rem 1rem;
    text-align: center;
}

.home .intro {
    max-width: 600px;
    margin: 0 auto;
}

.home .intro h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.home .intro p {
    font-size: 1rem;
    line-height: 1.5;
}